@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="column">
    <div id="cardMetodologies" class="card">
      <img src="~/Images/icone1.png" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>Metodologias de Desenvolvimento</b></h4>
        <p>Estudo sobre as metodologias de desenvolvimento de software</p>
      </div>
    </div>      
  </div>
  <div class="column">
    <div class="card">
      <img src="~/Images/icone2.png" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>Razor Pages</b></h4>
        <p>Resumo, exercícios, referências e exemplos de códigos HTML Razor</p>
      </div>
    </div>      
  </div>
  <div class="column">
    <div class="card">
      <img src="~/Images/icone3.png" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>Javascript</b></h4>
        <p>Resumo, exercícios, referências e exemplos de códigos Javascript</p>
      </div>
    </div>      
  </div>  
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="~/Images/Logo_C_sharp.svg" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>      
  </div>
  <div class="column">
    <div class="card">
      <img src="~/Images/Logo_C_sharp.svg" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>      
  </div>
  <div class="column">
    <div class="card">
      <img src="~/Images/Logo_C_sharp.svg" alt="CSharp" style="margin:5%;">
      <div class="container" style="background-color:#EDEBD7 ">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>      
  </div>  
</div>
