@{
    ViewData["Title"] = "SoftDevelopMetodologies Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>HelthCheck</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Anotações e Resumos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Exercícios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Referências</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Exemplos</a>
  </li>
</ul>